__pycache__/
*.py[cod]
*$py.class

.DS_Store
.idea/
.vscode/

.env
.venv/
/venv/
/env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

*.log
wandb/
rollouts/
tmp/
/output/
/examples/qwen3-8B-osm_v2_atomic/data/*
/artifacts/
